# Copyright (c) Lacroix Impulse 2023 (France)
# SPDX-License-Identifier: Apache-2.0

module = BSP_SYSTEM
module-str = bsp_system
source "subsys/logging/Kconfig.template.log_config"

config $(module)
   bool "Enable BSP SYSTEM"
   select BSP
   select REBOOT
   default n

config $(module)_SHELL
   bool "Enable shell options for bsp_system"
   default n
