# Copyright (c) Lacroix Impulse 2023 (France)
# SPDX-License-Identifier: Apache-2.0

if BOARD_DEVKIT_IOT_CONTINUUM

config BOARD
	default "devkit_iot_continuum"

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

choice STM32_LPTIM_CLOCK
	default STM32_LPTIM_CLOCK_LSE
	depends on STM32_LPTIM_TIMER
endchoice

endif
