# Copyright (c) Lacroix Impulse 2023 (France)
# SPDX-License-Identifier: Apache-2.0
#
# This Kconfig file is picked by the Zephyr build system because it is defined
# as the module Kconfig entry point (see zephyr/module.yml). You can browse
# module options by going to Zephyr -> Modules in Kconfig.

mainmenu "devkit_iot_continuum Modules Configuration"

rsource "subsys/Kconfig"
rsource "drivers/Kconfig"
