# Copyright (c) Lacroix Impulse 2023 (France)
# SPDX-License-Identifier: Apache-2.0

module = BSP
module-str = bsp
source "subsys/logging/Kconfig.template.log_config"

config $(module)
   bool "Enable BSP module"
   default n


rsource "inertial/Kconfig"
rsource "modem/Kconfig"
rsource "bme280/Kconfig"
rsource "system/Kconfig"
